.search-bar {
    background-color: #fff3f3;
    height: 3rem;
    width: 20rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    border-radius: 1rem;
  }
  
  #query {
    padding: 5px;
    border: none;
    flex: 1;
    margin-right: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #94c8ff;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }

  button:hover{
    background-color: #80bcfc;
  }
  
  .main {
    background: rgb(168,250,255);
    background: radial-gradient(circle, rgba(168,250,255,1) 77%, rgba(0,240,255,1) 100%);
    border-radius: 10px; 
    margin: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    height: 15rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upper-data,
  .lower-data {
    width: 50%;
    float: left;
  }
  
  .upper-data {
    text-align: center;
    font-size: 1em;
  }

  .upper-data img {
    width: 8rem;
  }
  
  .lower-data {
    text-align: center;
    
  }
  
  .more-info-container {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
  }
  
  .info-block {
    text-align: center;
  }
  
  .info-block-label {
    margin-top: 10px; 
  }
  
  .info-block-label img {
    width: 50px; 
  }
  
  .info-block-label span {
    display: block;
  }
  
  .info-block-value {
    font-size: 24px; 
  }
  
  body {
    background-color: #f8f9fa; 
  }
  