:root{
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --white: #FFF;
    --grey-1: #ededed;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

.main {
    width: 30rem; 
    height: 40rem; 
    background-color: #fef0bc; 
    border-radius: 2rem;
    //box-shadow: 1rem 1rem 1rem var(#00087f) ;
}

img{
    width: 100px;
    height: 100px;
}

.upper-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.upper-data img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

weather-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location{
    color: var(--white);
    text-align: center;
    font-size: 1em;
}

.temperature {
    color: var(--white);
    font-size: 4em;
    text-align: center;
    font-weight: 800;
}

.more-info-label{
    color: white;
}

.more-info-container{
    flex: 1;
    background-color: var(--shadow-light);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.info-block-label{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-label img{
    width: 1.5em;

}

.info-block-label span{
    color: var(--white);
    font-size: 0.8em;
}

.info-block-value{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}