<div class="main">
    <div class="upper-data">
        <img src="assets/img/day.jpg" *ngIf="14 > 15" alt="">
        <img src="assets/img/night.jpg" *ngIf="14 <= 15" alt="">

        <div class="weather-data">
            <div class="location">São Paulo</div>
            <div class="temperature">14°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-label">
            More Information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/img/mintemperature.svg" alt="">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                    10°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/img/maxtemperature.svg" alt="">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                    20°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/img/humidity.svg" alt="">
                    <span>humidity</span>
                </div>
                <div class="info-block-value">
                    77%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/img/wind.svg" alt="">
                    <span>wind</span>
                </div>
                <div class="info-block-value">
                    15 km/h
                </div>
            </div>


        </div>
    </div>
</div>
